.home {
  display: flex;
}

@media only screen and (max-width: 720px){
  .homepage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home  {
    flex-direction: column;
  }
}